html, body {
  height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
  }

.MuiTypography-h5{
  font-family: 'Goudy Bookletter 1911' !important;
  font-size: 28px;

}

.MuiButton-label {
  font-family: 'Goudy Bookletter 1911' !important;
}